.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20vh;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    width:20vw;
}
.online{
    color:green;
}
.offline{
    color:red;
}
.background{
    background-image: url(../../assets/background-server.png);
    background-size: cover;
    color: whitesmoke;
    height: 100vh;
    margin-top: 0;
}