.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20vh;
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    width:10vw;
    background-color: rgb(36, 31, 59);
    border-radius: 50%;
}
.online{
    color:green;
}
.offline{
    color:red;
}
.background{
    background-image: url(../../assets/background-server.png);
    background-size: cover;
    color: blanchedalmond;
    height: 100vh;
    margin-top: 0;
}
.header{
    text-align: center;
}

@media only screen and (max-width: 1200px) {



    .grid-item{
        text-align: center;
        font-size: 2em;
        margin-bottom: 20vh;
        margin-top: 10vh;
        margin-left: 15vw;
        margin-right: 15vw;
        width:20vw;
        background-color: rgb(36, 31, 59);
        border-radius: 55%;
    }

}
@media only screen and (max-width: 600px) {



    .grid-item{
        text-align: center;
        font-size: 1.9em;
        margin-bottom: 20vh;
        margin-top: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
        width:30vw;
        background-color: rgb(36, 31, 59);
        border-radius: 20%;
    }

}