.login{
    margin-left: 0;
    width:50%;
    margin-left: 25%;
    height: 50vh;
    font-size: larger;
    color: rgb(37, 37, 37);
    text-align: center;
}
.header{
    background-color: rgb(184, 3, 3);
    font-size: larger;

}
#menu-button{
        width:100%;
        font-size: larger;
        color: blanchedalmond;
        background-color: rgb(36, 31, 59);
        border-style: solid;
        border-color: burlywood;
        border-width: 3px;
    }
#menu-routing{
    width: 200vw;
} 